.cabecalho{

align-items: center;
background: #f9f9f9;
display: flex;
justify-content: space-between;
padding-left: 2rem;
padding-right: 2rem;

}
.menu-lista{
    display: flex;
}

.menu-item:last-child .menu-link{
    margin-right: 0;
}
.menu-item{
    list-style: none;
}

.menu-link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    
}

.menu-link.ativo{

    color: #333333;
    font-weight: bold;

}

.menu-link:hover{
    text-decoration: underline;
}

.banner{

    position: relative;

}

.banner-imagem{
    height: calc(100vh - 112px);
    width: 100%;
}

.banner-titulo{
    color: white;
    font-family: Pacifico, cursive;
    font-size: 4.2rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.sobre{
    text-align: center;
    padding: 2.5rem;
}

.sobre-titulo{
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
}

.sobre-descricao{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

.receitas{
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;

}

.receita{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(25% - 5rem);

}

.receita-imagem{
    height: 200px;
}

.receita-titulo{
    font-size: 1.4375rem ;
}

.receita-descricao{
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.receita-conteudo{
    padding: 1rem;
}

.receita-botao{
    background: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita-botao:hover{
    background: #620404;
    cursor: pointer;
}