.cabecalho{

align-items: center;
background: #ffffff;
display: flex;
justify-content: space-between;
padding-left: 2rem;
padding-right: 2rem;

}
.menu-lista{
    display: flex;
}

.menu-item:last-child .menu-link{
    margin-right: 0;
}
.menu-item{
    list-style: none;
}

.menu-link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    
}

.menu-link.ativo{

    color: #333333;
    font-weight: bold;

}

.menu-link:hover{
    text-decoration: underline;
}

.banner{

    position: relative;

}

.banner-imagem{
    width: 100%;
}

.banner-titulo{
    color: white;
    font-family: Pacifico, cursive;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.sobre{
    text-align: center;
    padding: 2.5rem;
}

.sobre-titulo{
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
}

.sobre-descricao{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

.receitas{
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;

}

.receita{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(25% - 5rem);

}

.receita-imagem{
    height: 200px;
}

.receita-titulo{
    font-size: 1.4375rem ;
}

.receita-descricao{
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.receita-conteudo{
    padding: 1rem;
}

.receita-botao{
    background: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita-botao:hover{
    background: #620404;
    cursor: pointer;
}

.quem-somos-titulo{
    margin-bottom: 1rem;
    color: #8d0606;
    font-size: 3.1875rem;
    font-family: Pacifico, cursive;
    
}

.quem-somos{
    text-align: center;
    padding: 5rem;
}

.quem-somos-descricao{
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}

.pessoa{
    display: flex;
    flex-direction: column;
}

.pessoas{
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
}

.pessoa-nome{
    margin: 1rem 0;
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 2rem;
}

.pessoa-funcao{
    text-transform: lowercase;
    color: #595959;
    font-size: 1.25rem;
}

.pessoa-imagem{
    background: red;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.pessoa-imagem--roberta{
    background-image: url(../../assets/img/roberta.jpg);
}

.pessoa-imagem--marcela{
    background-image: url(../../assets/img/marcela.jpg);
}

.pessoa-imagem--andreia{
    background-image: url(../../assets/img/andreia.jpg);
}

.rodape{
    background: #bfbfbf;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
}

@media screen and (min-width: 0){

    .cabecalho{
        justify-content: space-between;
        padding: 0 1rem;
    }

    .logo{
        display: none;
    }

    .banner-titulo {
        font-size: 3rem;
    }
    
    .banner-imagem {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 728px) {
    .cabecalho{
        justify-content: space-between;
        padding: 0 5rem;
    }

    .logo{
        display: block;
    }

    .banner-titulo {
        font-size: 5.0625rem;
    }

    .banner-imagem {
        height: calc(100vh - 72px);
    }
}